<?xml version="1.0" encoding="UTF-8"?>
<svg width="680" height="150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>{{ title }}</title>
    <g>
        <image x="0" y="0" width="68" height="150" xlink:href="{{ svg_img_0 }}"/>
        <image x="68" y="0" width="68" height="150" xlink:href="{{ svg_img_1 }}"/>
        <image x="136" y="0" width="68" height="150" xlink:href="{{ svg_img_2 }}"/>
        <image x="204" y="0" width="68" height="150" xlink:href="{{ svg_img_3 }}"/>
        <image x="272" y="0" width="68" height="150" xlink:href="{{ svg_img_4 }}"/>
        <image x="340" y="0" width="68" height="150" xlink:href="{{ svg_img_5 }}"/>
        <image x="408" y="0" width="68" height="150" xlink:href="{{ svg_img_6 }}"/>
        <image x="476" y="0" width="68" height="150" xlink:href="{{ svg_img_7 }}"/>
        <image x="544" y="0" width="68" height="150" xlink:href="{{ svg_img_8 }}"/>
        <image x="612" y="0" width="68" height="150" xlink:href="{{ svg_img_9 }}"/>
    </g>
</svg>