<?xml version="1.0" encoding="UTF-8"?>
<svg width="{{ g_width }}" height="{{ height }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>{{ title }}</title>
    <g>
	    <image x="{{ x_position_0 }}" y="0" width="{{ width }}" height="{{ height }}" xlink:href="{{ svg_img_0 }}"/>
	    <image x="{{ x_position_1 }}" y="0" width="{{ width }}" height="{{ height }}" xlink:href="{{ svg_img_1 }}"/>
	    <image x="{{ x_position_2 }}" y="0" width="{{ width }}" height="{{ height }}" xlink:href="{{ svg_img_2 }}"/>
	    <image x="{{ x_position_3 }}" y="0" width="{{ width }}" height="{{ height }}" xlink:href="{{ svg_img_3 }}"/>
	    <image x="{{ x_position_4 }}" y="0" width="{{ width }}" height="{{ height }}" xlink:href="{{ svg_img_4 }}"/>
	    <image x="{{ x_position_5 }}" y="0" width="{{ width }}" height="{{ height }}" xlink:href="{{ svg_img_5 }}"/>
	    <image x="{{ x_position_6 }}" y="0" width="{{ width }}" height="{{ height }}" xlink:href="{{ svg_img_6 }}"/>
	    <image x="{{ x_position_7 }}" y="0" width="{{ width }}" height="{{ height }}" xlink:href="{{ svg_img_7 }}"/>
	    <image x="{{ x_position_8 }}" y="0" width="{{ width }}" height="{{ height }}" xlink:href="{{ svg_img_8 }}"/>
	    <image x="{{ x_position_9 }}" y="0" width="{{ width }}" height="{{ height }}" xlink:href="{{ svg_img_9 }}"/>
    </g>
</svg>
