<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Counter - Index</title>
    <!--  设置图标  -->
    <link rel="icon" type="image/png" sizes="128x128" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="apple-touch-icon" type="image/png" sizes="128x128"
          href="{{ url_for('static', filename='favicon.ico') }}"/>
    <style>
        .intro{
            text-align: center;
        }
        a{
            color: green;
        }


    </style>
</head>
<body>
<div class="intro">
    <br>
    <br>
    <i>看到这句话就说明程序正常运行啦!! <a href="https://markusjoe.github.io/RequestCounter/" target="_blank">查看文档</a></i>
    <br>
    <i>服务端使用Flask开发没有使用异步编程</i>
    <br>
    <i><a href="http://127.0.0.1:5000/get/RequestCounter">点击查看本地部署示例</a></i>
    <br>
    <i><a href="https://requestcounter.herokuapp.com/get/RequestCounter">点击查看已部署好的调用示例</a></i>
    <br>
    <i><b>注: 调用支持POST 和 GET 方法请求</b></i>
    <br>
    <br>
    <i>项目开源协议: <b>Apache-2.0</b> 即:
        <br>
        你可以直接使用该项目提供的功能, 无需任何授权
        <br>
        你可以在注明来源版权信息的情况下对源代码进行任意分发和修改以及衍生
    </i>
    <br>
    <!--  显示客户端的IP地址  -->
    <i><b>你的IP地址为: {{ remote_address }}</b></i>
</div>
</body>
</html>