<?xml version="1.0" encoding="UTF-8"?>
<svg width="315" height="100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>{{ title }}</title>
    <g>
        <image x="0" y="0" width="45" height="100" xlink:href="{{ svg_img_0 }}"/>
        <image x="45" y="0" width="45" height="100" xlink:href="{{ svg_img_1 }}"/>
        <image x="90" y="0" width="45" height="100" xlink:href="{{ svg_img_2 }}"/>
        <image x="135" y="0" width="45" height="100" xlink:href="{{ svg_img_3 }}"/>
        <image x="180" y="0" width="45" height="100" xlink:href="{{ svg_img_4 }}"/>
        <image x="225" y="0" width="45" height="100" xlink:href="{{ svg_img_5 }}"/>
        <image x="270" y="0" width="45" height="100" xlink:href="{{ svg_img_6 }}"/>
    </g>
</svg>
