<?xml version="1.0" encoding="UTF-8"?>
<svg width="315" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<title>Request Counter - {{ title }}</title>
<g>
   <image x="0" y="0" width="45" height="50" xlink:href="{{ svg_img_0 }}"></image>
   <image x="45" y="0" width="45" height="50" xlink:href="{{ svg_img_1 }}"></image>
   <image x="90" y="0" width="45" height="50" xlink:href="{{ svg_img_2 }}"></image>
   <image x="135" y="0" width="45" height="50" xlink:href="{{ svg_img_3 }}"></image>
   <image x="180" y="0" width="45" height="50" xlink:href="{{ svg_img_4 }}"></image>
   <image x="225" y="0" width="45" height="50" xlink:href="{{ svg_img_5 }}"></image>
   <image x="270" y="0" width="45" height="50" xlink:href="{{ svg_img_6 }}"></image>
</g></svg>