<?xml version="1.0" encoding="UTF-8"?>
<svg width="450" height="100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>{{ owner }}</title>
    <g>
        <image x="0" y="0" width="45" height="100" xlink:href="{{ b64_0 }}"></image>
        <image x="45" y="0" width="45" height="100" xlink:href="{{ b64_1 }}"></image>
        <image x="90" y="0" width="45" height="100" xlink:href="{{ b64_2 }}"></image>
        <image x="135" y="0" width="45" height="100" xlink:href="{{ b64_3 }}"></image>
        <image x="180" y="0" width="45" height="100" xlink:href="{{ b64_4 }}"></image>
        <image x="225" y="0" width="45" height="100" xlink:href="{{ b64_5 }}"></image>
        <image x="270" y="0" width="45" height="100" xlink:href="{{ b64_6 }}"></image>
        <image x="315" y="0" width="45" height="100" xlink:href="{{ b64_7 }}"></image>
        <image x="360" y="0" width="45" height="100" xlink:href="{{ b64_8 }}"></image>
        <image x="405" y="0" width="45" height="100" xlink:href="{{ b64_9 }}"></image>
    </g>
</svg>
