<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Counter | {{ remote_address }}</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='request.js') }}"></script>
</head>
<body>
<div class="head">
    <h1>
        应用名: 访问次数计数器
    </h1>
    <h3>
        简介: 可以使用SVG矢量图的形式来显示页面的访问次数
        <br>
        或者通过API的方式获取原始计数数据
    </h3>
</div>
<div class="intro">
    <div class="current_deployment_test">
        <i><a href="{{ url_for('main.home', name='test-example') }}">点击查看当但实例调用示例</a></i>
    </div>
    <div class="remote_deployment_test">
        <i><a href="https://requestcounter.herokuapp.com/count/test-example">点击查看已部署好的调用示例</a></i>
    </div>
    <div class="note">
        <i><b>注: 调用支持POST 和 GET 方法请求</b></i>
    </div>
    <div class="open_source_protocol">
        <i>项目开源协议: <b>Apache-2.0</b> 即:
            <br>
            你可以直接使用该项目提供的功能, 无需任何授权
            <br>
            你可以在注明来源版权信息的情况下对源代码进行任意分发和修改以及衍生
        </i>
    </div>
    <div class="documents">
        <div class="vercel">
            <i><a href="https://request-counter-docs.vercel.app/#/" target="_blank">点击查看托管在<i>Vercel</i>上的文档</a></i>
        </div>
        <div class="github">
            <i><a href="https://markusjoe.github.io/RequestCounter/" target="_blank">点击查看托管在<i>GitHub</i>上的文档</a></i>
        </div>
    </div>
    <div class="ip_address">
        <i><b>请求地址来源: {{ remote_address }}</b></i>
    </div>
</div>
<div class="example">
    <div class="svg">
        <img src="https://static-file-hosting.vercel.app/static/lewd/6" alt="fast_test_example_svg">
        <img src="https://static-file-hosting.vercel.app/static/lewd/1" alt="fast_test_example_svg">
        <img src="https://static-file-hosting.vercel.app/static/lewd/5" alt="fast_test_example_svg">
        <img src="https://static-file-hosting.vercel.app/static/lewd/9" alt="fast_test_example_svg">
        <img src="https://static-file-hosting.vercel.app/static/lewd/0" alt="fast_test_example_svg">
        <img src="https://static-file-hosting.vercel.app/static/lewd/3" alt="fast_test_example_svg">
        <img src="https://static-file-hosting.vercel.app/static/lewd/7" alt="fast_test_example_svg">
        <img src="https://static-file-hosting.vercel.app/static/lewd/8" alt="fast_test_example_svg">
        <img src="https://static-file-hosting.vercel.app/static/lewd/2" alt="fast_test_example_svg">
        <img src="https://static-file-hosting.vercel.app/static/lewd/4" alt="fast_test_example_svg">


    </div>
    <div class="api">
        <button onclick="request_async()">点击获取计数数值</button>
        <div class="result">
            <i><b>test-example</b>当前计数数据值: </i>
            <p id="fast_test_example_text"></p>
        </div>
    </div>
</div>
</body>
</html>
